# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Trunk
.trunk/

# VS Code
.vscode/

# Native
.kotlin/
.build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# coverage
coverage/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
**/ios
**/android

# gradle
*.gradle
coverage/clover.xml

# other
.com.facebook.react.devsupport.BundleDownloader.swp